/venv/
/trash/
/.idea/
/experiment_one/mus/blue_sky.wav
/experiment_one/mus/gangsta.wav
/experiment_one/mus/last_cell.wav
/experiment_one/mus/never_gonna_give_you_up.wav
/experiment_one/mus/over_the_rainbow.wav
/experiment_one/mus_vocals/blue_sky_vocals.wav
/experiment_one/mus_vocals/gangsta_vocals.wav
/experiment_one/mus_vocals/last_cell_vocals.wav
/experiment_one/mus_vocals/never_gonna_give_you_up_vocals.wav
/experiment_one/mus_vocals/over_the_rainbow_vocals.wav
/experiment_two/mus/blue_sky.wav
/experiment_two/mus/gangsta.wav
/experiment_two/mus/last_cell.wav
/experiment_two/mus/never_gonna_give_you_up.wav
/experiment_two/mus/over_the_rainbow.wav
/experiment_two/mus_vocals/blue_sky_vocals.wav
/experiment_two/mus_vocals/gangsta_vocals.wav
/experiment_two/mus_vocals/last_cell_vocals.wav
/experiment_two/mus_vocals/never_gonna_give_you_up_vocals.wav
/experiment_two/mus_vocals/over_the_rainbow_vocals.wav
